<div class="wrap">

    <span class="mat-headline-3">Converting {{ selectedCurrencyLeft }} to {{ selectedCurrencyRight }}</span>
    
    <div class="converter">

        <mat-form-field appearance="fill" floatLabel="always" class="amount">

            <mat-label>Amount</mat-label>
            <input matInput type="number" min="0" class="right-align" [ngModel]='valueLeft' (ngModelChange)="convertCurrencyLeft($event)">

        </mat-form-field>

        <mat-form-field appearance="fill" class="currency">
            
            <mat-label>Currency</mat-label>
            
            <mat-select [(ngModel)]="selectedCurrencyLeft" (ngModelChange)="convertCurrencyLeft(valueLeft)">
                <mat-option *ngFor="let c of currencies" [value]="c">{{c}}</mat-option>
            </mat-select>

        </mat-form-field>


        <button mat-icon-button (click)="swap()">
            <mat-icon>swap_horiz</mat-icon>
        </button>


        <mat-form-field appearance="fill" floatLabel="always" class="amount">

            <mat-label>Amount</mat-label>
            <input matInput type="number" min="0" class="right-align" [ngModel]='valueRight' (ngModelChange)="convertCurrencyRight($event)">

        </mat-form-field>

        <mat-form-field appearance="fill" class="currency">
            
            <mat-label>Currency</mat-label>
            
            <mat-select [(ngModel)]="selectedCurrencyRight" (ngModelChange)="convertCurrencyLeft(valueLeft)">
                <mat-option *ngFor="let c of currencies" [value]="c">{{c}}</mat-option>
            </mat-select>

        </mat-form-field>

    </div>

    <span class="mat-body available">Available currencies: <div *ngFor="let c of currencies; let i = index"> &nbsp; {{c}}<span *ngIf="i != currencies.length-1">,</span> </div></span>

</div>