
.wrap {
    height: 600px;
    border: 1px solid black;
    border-radius: 10px;
}

.amount {
    width: 180px;
}

.currency {
    width: 110px;
}

.right-align {
    text-align: right;
}

.icon {
    margin-left: 10px;
    margin-right: 10px;
}